.image_detail {
    position: fixed;
    top: 40px;
    left: 20%;
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
    padding-top : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    padding-left : 10px;
}

.image_detail img{
    margin: 10px;
    max-height: 400px;
}

.exit {
    position: relative;
}

